<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TwilioSheet: Twilio SMS to Google Spreadsheet</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.css" rel="stylesheet">
        
        <style>
        body {
        padding-top: 80px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        </style>
    </head>

    <body>
        
        <a href="https://github.com/devinrader/TwilioSheet"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10000" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
        
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">                        
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">TwilioSheet</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="well well-lg">
                        <label for="url">Enter the URL for the "live form" that submits to your Google Spreadsheet:</label>
                        <form action="/" method="POST">
                            <div class="input-group {% if error %}haserror{% endif %}">
                                <!-- error here -->
                                <input type="url" name="url" class="form-control" placeholder="https://docs.google.com/forms/d/abcdefghijklmnopqrstuvwxyzabcdefghijklmnopqrstuvwxyz/viewform"
                                       {% if url %}
                                       value="{{ url }}"
                                       {% endif %} />
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {% if state == 'nothing-submitted' %}
            <div class="row">
                <div class="col-md-12">
                    <h1>Receive Twilio SMS messages in a Google Spreadsheet</h1>
                    <p>Use Twilio and Google Spreadsheets to build your own	applications to do SMS polling, SMS voting, keyword marketing, expense tracking, time tracking, and more.</p>
                    <p>Need help? <a href="https://github.com/devinrader/TwilioSheet/blob/master/README.md">See here for instructions</a></p>
                </div>
            </div>
            {% elif state == 'error' %}
            <div class="row">
                <div class="col-md-12">
                    {{ message }}
                    <br /><br />
                    Maybe another look at <a href="https://github.com/devinrader/TwilioSheet/blob/master/README.md">the instructions</a> would help?
                </div>
            </div>
            {% elif state == 'valid-submission' %}
            <div class="row">
                <div class="col-md-12">
                    <h2>It worked!</h2>
                    <p>You're almost done.</p>
                    <p>Follow the steps below and when your Twilio number is sent an SMS, your spreadsheet will be updated with the following information:</p>
                    <ul>
                        {% for parameter in parameters_found %}
                        <li>{{ parameter }}</li>
                        {% endfor %}
                    </ul>
                    <p>Use this URL as the "SMS Request URL" for your Twilio number:</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="url" id="sms-request-url" class="form-control" value="{{sms_request_url}}" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" id="copy-button" data-clipboard-target="sms-request-url">Copy to Clipboard</button>
                        </span>
                    </div>
                </div>
            </div>
            {% endif %}


        </div> <!-- /container -->

        <div class="footer">
        </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster
        -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.1/ZeroClipboard.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.js"></script>
        <script type="text/javascript">
            $(function () {
                var client = new ZeroClipboard($('#copy-button'));

                client.on("ready", function (readyEvent) {
                    client.on("aftercopy", function (event) {
                        // `this` === `client`
                        // `event.target` === the element that was clicked
                    });
                });
            });
        </script>
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36641904-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        </script>
    </body>
</html>
